.forgot{
    height: 100px;
}
.forgot-body {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 1px solid black;
  }

  .forgot-title{
    color: #FCB418;
      font-size: 35px;
      font-weight: bold;
      display: flex;
      align-self: center;
  }
  .forgot-input1 .inputBox1
  {
    position: relative;
    width: 420px;
    padding-top: 10px;
    margin-left: 10px;
  
  }
   .forgot-input1 .inputBox1 input 
  {
    position: relative;
    width: 100%;
    /* background: #333; */
    border-top: none;
    border-right:  none;
    border-left: none;
    border-bottom: 1px solid rgb(161, 158, 158);
    outline: none;
    /* padding: 25px 10px 7.5px; */
    padding: 25px 2px 7.5px;
    margin-right: 50px;
    /* color: #fff; */
    font-weight: 500;
    font-size: 1em;
    margin-left: 2px ;
  }
   .forgot-input1 .inputBox1 i 
  {
    position: absolute;
    left: 2%;
    /* padding: 15px 10px; */
    top:50%;
  
    font-style: normal;
    color: black;
    transition: 0.5s;
    pointer-events: none;
  }
  .forgot-input1 .inputBox1 input:focus ~ i,
  .forgot-input1 .inputBox1 input:valid ~ i
  {
    transform: translateY(-20px);
    font-size: 0.8rem;
    color: black;
  }
  .forgot-but1 {
    margin-top: 30px;
    margin-left: 15px;
    background-color: #FCB418;
    color: #fff;
    width: 420px;
    height: 40px;
    border-radius: 5px;
  }
  .return-login1{
    padding-top: 20px;
    /* padding-left: 90px; */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .return-acc1{
    float: left;
  }
  .return-up1{
    padding-left: 5px;
    font-weight: bold;
  }
  .return-up-but1{
    background: #fff;
    font-weight: bold;
    cursor:pointer;
  }